@dark-grey: #444444;
@black-brown: #222222;
@dark: #111111;
@dark-hover: #3e3e3e;
@dark-active: #6b6b6b;
@black: #000000;
@radio-hover: #bababa;
@light-telegrey: #cdcdcd;
@grey-plus: #d3d3d3;
@light-grey: #d9d9d9;
@grey: #eaeaea;
@special-grey: #ebebeb;
@basic-grey: #f2f2f2;
@light-platinum: #e6e6e6;
@platinum: #e7e7e7;
@white: #ffffff;
@green: #68b738;
@green-hover: #5eaa2f;
@input-error: #ff8282;

// Viewports
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
