.features {
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
    padding-bottom: 69px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}

.features__list {
  .list-style();
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    padding-right: 75px;
    row-gap: 37px;
    column-gap: 133px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 110px;
    row-gap: 20px;
  }
}

.features__item {
  grid-column: ~"1 / -1";

  @media (min-width: @tablet-width) {
    max-width: 250px;

    &:nth-child(2n-1) {
      grid-column: ~"1 / 2";
    }

    &:nth-child(2n) {
      grid-column: ~"2 / -1";
    }
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / -1";

    &:nth-child(4n-3) {
      grid-column: ~"1 / 2";
    }

    &:nth-child(4n-2) {
      grid-column: ~"2 / 3";
    }

    &:nth-child(4n-1) {
      grid-column: ~"3 / 4";
    }

    &:nth-child(4n) {
      grid-column: ~"4 / -1";
    }
  }
}

.features__description {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 20px;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;

  &::before {
    content: "";
    display: block;
    padding: 30px;
    background-color: @green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf::before {
    background-image: url("/img/features-leaf.svg");
  }

  &--water::before {
    background-image: url("/img/features-water.svg");
  }

  &--eat::before {
    background-image: url("/img/features-eat.svg");
  }

  &--clock::before {
    background-image: url("/img/features-clock.svg");
  }

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    padding-bottom: 57px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    position: relative;

    &::before {
      padding: 40px;
      margin-bottom: 31px;
      width: 80px;
    }

    &::after {
      content: "";
      height: 280px;
      background-repeat: no-repeat;
      background-position: 50% 0;
      position: absolute;
      right: 0;
      z-index: -1;
    }

    &--leaf::after {
      width: 112px;
      background-image: url("/img/features-1.svg");
      right: 35px;
    }

    &--water::after {
      width: 134px;
      background-image: url("/img/features-2.svg");
    }

    &--eat::after {
      width: 134px;
      background-image: url("/img/features-3.svg");
    }

    &--clock::after {
      width: 136px;
      background-image: url("/img/features-4.svg");
    }
  }
}

.features__word-wrap {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
