.features__description {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}

.features__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.features__list {
  .list-style();
}
