.find-us__address-wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.find-us__address-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @dark;
}

.find-us__address {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: @dark-grey;
}

.find-us__address-wrapper {
  &--background {
    background-color: @basic-grey;
  }
}
