.main-header {
  display: flex;
  flex-direction: column;

  @media (max-width: @mobile-width-only) {
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }
}

.main-header__menu-container {
  padding: 12px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    min-width: 174px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__company-img {
  margin-left: 56px;

  @media (min-width: @tablet-width) {
    margin-left: 13px;
  }
}

.main-header__menu-btn {
  width: 24px;
  height: 27px;
  position: relative;
  border: none;
  background-color: transparent;

  &--closed {
    &::before,
    &::after {
      content: "";
      width: 24px;
      height: 1.5px;
      background-color: @black;
      border-radius: 10px;
      position: absolute;
      top: 10px;
      left: 3px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      opacity: 0.6;
    }

    &:active::before,
    &:active::after {
      opacity: 0.3;
    }
  }

  &--opened {
    &::before {
      content: "";
      width: 24px;
      height: 2px;
      display: block;
      background-color: @black;
      position: absolute;
      top: 2px;
      left: 0;
      box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
    }

    &:hover::before {
      opacity: 0.6;
    }

    &:active::before {
      opacity: 0.3;
    }
  }

  &--nojs {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__navigation {
  background-color: @white;

  @media (max-width: @mobile-width-only) {
    position: relative;

    &--closed {
      display: none;
    }

    &--nojs {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 94px;
    width: 61.6%;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
    width: 39%;
    background-color: transparent;
  }
}

.main-header__navigation-list {
  .list-style();
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: @mobile-width-only) {
    position: absolute;
    background-color: @white;
    z-index: 10;

    &--nojs {
      position: static;
    }
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.main-header__navigation-item {
  display: flex;
  flex-wrap: wrap;

  &:not(:first-child) {
    @media (min-width: @tablet-width) {
      margin-left: 33px;
    }
  }

  @media (max-width: @mobile-width-only) {
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid @light-platinum;
  }
}

.main-header__navigation-link {
  display: flex;
  padding-top: 22px;
  padding-bottom: 23px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;

  &:not(&--current):hover {
    opacity: 0.6;
  }

  &:not(&--current):active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding: 14px 0 12px;
    font-size: 18px;
    line-height: 24px;

    &--current {
      text-decoration: underline;
      text-decoration-color: @green;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;
      text-underline-position: under;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 19px 0 12px;
    font-size: 20px;
    color: @dark;

    &--color-white {
      color: @white;
      text-decoration-color: @white;
    }
  }
}
