.main-footer {
  background-color: @basic-grey;
}

.main-footer__socials-list {
  .list-style();
}

.main-footer__copyright-text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: @dark-grey;
}
