.promo {
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }

  &::before,
  &::after {
    content: "";
    width: 100%;
    min-height: 302px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    background-image: url("../img/index-cat-background.jpg");
    background-repeat: no-repeat;
    z-index: -2;
  }

  &::after {
    background-color: @green;
    opacity: 0.85;
    z-index: -1;
  }
}

.promo__title-wrapper {
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 65px;
  }
}

.promo__title,
.promo__slogan {
  margin: 0;
  font-weight: 400;
  text-align: center;
  color: @white;

  @media (min-width: @tablet-width) {
    padding-left: 90px;
    padding-right: 200px;
    text-align: start;
    color: @black;
  }
}

.promo__title {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__our-product {
  padding: 10px 0;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
}

.promo__product-list {
  .list-style();
}

.promo__product-item {
  padding: 21px 33px 18px 20px;
  display: flex;
  flex-direction: column;
  grid-template-columns: auto 1fr;
  background-color: @basic-grey;
}

.promo__product-slim-img,
.promo_product-pro-img {
  position: absolute;
}

.promo__product-slim-img {
  left: 40px;
}

.promo_product-pro-img {
  left: 35px;
}

.promo__product-title {
  margin: 0;
  margin-bottom: 29px;
  position: relative;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo__product-description {
  padding-bottom: 23px;
  margin: 0;
  margin-bottom: 15px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}

.promo__catalog-link {
  line-height: 16px;
  text-transform: uppercase;
  color: @black;
}
