.promo {
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 302px;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  &::before {
    background-image: image-set(
      url("../img/promo-cat-mobile.webp"),
      url("../img/promo-cat-mobile.jpg")
    );
    background-repeat: no-repeat;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: image-set(
        url("../img/promo-cat-mobile@2x.webp"),
        url("../img/promo-cat-mobile@2x.jpg")
      );
      background-size: cover;
    }
  }

  &::after {
    background-color: @green;
    opacity: 0.85;
    z-index: -2;
  }

  @media (min-width: @tablet-width) {
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    position: static;
    background-color: transparent;

    &::before,
    &::after {
      width: 50%;
      height: 694px;
      left: 50%;
    }

    &::before {
      background-image: image-set(
        url("../img/promo-cat-desktop.jpg"),
        url("../img/promo-cat-desktop.webp")
      );
      background-size: 720px auto;

      @media (min-resolution: 2dppx) {
        background-image: image-set(
          url("../img/promo-cat-desktop@2x.jpg"),
          url("../img/promo-cat-desktop@2x.webp")
        );
      }
    }
  }
}

.promo__title-wrapper {
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 60px 200px 526px 90px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding: 105px 720px 184px 80px;
  }
}

.promo__title,
.promo__slogan {
  margin: 0;
  font-weight: 400;
  text-align: center;
  color: @white;

  @media (min-width: @tablet-width) {
    text-align: start;
    color: @black;
  }
}

.promo__title {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__product-img {
  display: block;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    left: 447px;
    bottom: 52px;
  }
}

.promo__our-product {
  margin-top: 3px;
  padding: 10px 0;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @green;

  &:hover {
    background-color: @green-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    padding: 17px 28px;
    display: inline-block;
    font-size: 20px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 14px 27px 14px 28px;
    line-height: 26px;
  }
}

.promo__product-list {
  .list-style();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 80px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 82px;
  }
}

.promo__product-item {
  padding: 24px 33px 21px 20px;
  display: flex;
  flex-direction: column;
  background-color: @basic-grey;

  @media (max-width: @mobile-width-only) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 77px 29px 63px 52px;
    grid-column: ~"1 / -1";
    display: grid;
    grid-template-columns: 340px 1fr;
    column-gap: 19px;
  }

  @media (min-width: @desktop-width) {
    padding: 41px 65px 66px 52px;
    column-gap: 0;

    &:nth-child(2n-1) {
      grid-column: ~"1 / 2";
    }

    &:nth-child(2n) {
      grid-column: ~"2 / -1";
    }
  }
}

.promo__product-img-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: @green;

  @media (min-width: @tablet-width) {
    margin-top: 15px;
    width: 200px;
    height: 200px;
    position: static;
    grid-column: ~"2 / -1";
    grid-row: ~"1 / 4";
    justify-self: center;
  }

  @media (min-width: @desktop-width) {
    margin-top: 6px;
    margin-bottom: 39px;
    width: 100px;
    height: 100px;
    grid-column: ~"1 / 2";
    justify-self: start;
  }
}

.promo__product-img-wrapper--pro {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin-top: 14px;
  }
}

.promo__product-slim-img,
.promo_product-pro-img {
  position: relative;
}

.promo__product-slim-img {
  top: -3px;
  left: 7px;

  @media (min-width: @tablet-width) {
    top: -11px;
    left: 30px;
  }

  @media (min-width: @desktop-width) {
    top: -6px;
    left: 15px;
  }
}

.promo_product-pro-img {
  max-width: 268px;
  top: 11px;
  left: -7px;

  @media (min-width: @tablet-width) {
    top: 44px;
    left: -34px;
  }

  @media (min-width: @desktop-width) {
    top: 20px;
    left: -19px;
  }
}

.promo__product-title {
  margin: 0;
  margin-bottom: 29px;
  padding-top: 6px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

  @media (min-width: @tablet-width) {
    grid-column: ~"1 / 2";
    padding: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    position: static;
  }

  @media (min-width: @desktop-width) {
    margin: 36px 0 0 162px;
    grid-column: ~"1 / -1";
    grid-row: ~"1 / 4";
  }
}

.promo__product-description {
  padding-bottom: 22px;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 240px;
      background-color: @light-grey;
      position: relative;
      top: 22px;
    }
  }

  @media (min-width: @tablet-width) {
    grid-column: ~"1 / 2";
    padding: 0;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 24px;
    color: @black;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / -1";
    margin-bottom: 34px;
  }
}

.promo__catalog-link {
  display: flex;
  width: 139px;
  padding-right: 53px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black;
  position: relative;

  &::after {
    content: "";
    width: 24px;
    height: 12px;
    background-image: url("../img/catalog-link-arrow-s.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 1px;
    right: 13px;
  }

  &:hover::after {
    width: 32px;
    background-image: url("../img/catalog-link-arrow.svg");
    right: 0;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    grid-column: ~"1 / 2";
    width: 165px;
    padding-right: 57px;
    font-size: 20px;
    color: @black;

    &::after {
      right: 8px;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      top: 2px;
    }
  }
}

.promo__catalog-link--pro {
  &::after {
    right: 17px;
  }

  @media (min-width: @tablet-width) {
    &::after {
      right: 12px;
    }
  }
}
