.add-product__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.add-product__product-list {
  .list-style();
}

.add-product__product-title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: @black-brown;
}

.add-product__product-table-data {
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @dark-grey;
}

.add-product__present {
  padding: 41px 61px 43px 58px;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    background-image: url("../img/catalog-cat-background.png");
    background-repeat: no-repeat;
    z-index: -2;
  }

  &::after {
    background-color: @green;
    opacity: 0.85;
    z-index: -1;
  }
}

.add-product__present-description {
  margin: 0;
  padding-top: 126px;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: @white;
  position: relative;

  &::before {
    content: url("../img/icon-gift.svg");
    width: 78px;
    height: 80px;
    position: absolute;
    top: 0;
  }
}
