.catalog__product-list {
  .list-style();
}

.catalog__product-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @black-brown;

  &--color {
    color: @dark;
  }
}

.catalog__product-table-data {
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.catalog__product-btn {
  &--show-all {
    color: @dark-grey;
    background-color: @basic-grey;
  }
}

.catalog__product-description {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}
