@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
a {
  text-decoration: none;
}
.page {
  height: 100%;
}
.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .page__body {
    overflow-x: hidden;
  }
}
.page__container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page__container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page__container {
    width: 1440px;
  }
}
.page__container-inner {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page__container-inner {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page__container-inner {
    padding: 0 110px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .main-header {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .main-header {
    padding-top: 25px;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding-top: 55px;
  }
}
.main-header__menu-container {
  padding: 13px 20px 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .main-header__menu-container {
    padding: 0;
    min-width: 174px;
  }
}
.main-header__logo {
  display: flex;
  align-items: center;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}
.main-header__company-img {
  margin-left: 56px;
}
@media (min-width: 768px) {
  .main-header__company-img {
    margin-left: 13px;
  }
}
.main-header__menu-btn {
  width: 24px;
  height: 24px;
  position: relative;
  border: none;
  background-color: transparent;
}
.main-header__menu-btn--closed::before,
.main-header__menu-btn--closed::after {
  content: "";
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  border-radius: 10px;
  position: absolute;
  top: 11px;
  left: 0;
}
.main-header__menu-btn--closed::before {
  transform: rotate(45deg);
}
.main-header__menu-btn--closed::after {
  transform: rotate(-45deg);
}
.main-header__menu-btn--closed:hover::before,
.main-header__menu-btn--closed:hover::after {
  opacity: 0.6;
}
.main-header__menu-btn--closed:active::before,
.main-header__menu-btn--closed:active::after {
  opacity: 0.3;
}
.main-header__menu-btn--opened::before {
  content: "";
  width: 24px;
  height: 2px;
  display: block;
  background-color: #000000;
  position: absolute;
  top: 2px;
  left: 0;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-header__menu-btn--opened:hover::before {
  opacity: 0.6;
}
.main-header__menu-btn--opened:active::before {
  opacity: 0.3;
}
.main-header__menu-btn--nojs {
  display: none;
}
@media (min-width: 768px) {
  .main-header__menu-btn {
    display: none;
  }
}
.main-header__navigation {
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .main-header__navigation {
    position: relative;
  }
  .main-header__navigation--closed {
    display: none;
  }
  .main-header__navigation--nojs {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-header__navigation {
    margin-left: auto;
    width: 61.6%;
  }
}
@media (min-width: 1440px) {
  .main-header__navigation {
    width: 39%;
    background-color: transparent;
  }
}
.main-header__navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .main-header__navigation-list {
    position: absolute;
    background-color: #ffffff;
    z-index: 10;
  }
  .main-header__navigation-list--nojs {
    position: static;
  }
}
@media (min-width: 768px) {
  .main-header__navigation-list {
    flex-direction: row;
  }
}
.main-header__navigation-item {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .main-header__navigation-item:not(:first-child) {
    margin-left: 33px;
  }
}
@media (max-width: 767px) {
  .main-header__navigation-item {
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid #e6e6e6;
  }
}
.main-header__navigation-link {
  display: flex;
  padding-top: 22px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
.main-header__navigation-link:not(.main-header__navigation-link--current):hover {
  opacity: 0.6;
}
.main-header__navigation-link:not(.main-header__navigation-link--current):active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-header__navigation-link {
    padding: 0;
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
  }
  .main-header__navigation-link--current {
    text-decoration: underline;
    -webkit-text-decoration-color: #68b738;
            text-decoration-color: #68b738;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    text-underline-position: under;
  }
}
@media (min-width: 1440px) {
  .main-header__navigation-link {
    font-size: 20px;
    color: #111111;
  }
  .main-header__navigation-link--color-white {
    color: #ffffff;
    -webkit-text-decoration-color: #ffffff;
            text-decoration-color: #ffffff;
  }
}
.promo {
  position: relative;
  z-index: 1;
}
.promo::before,
.promo::after {
  content: "";
  width: 100%;
  height: 302px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .promo::before,
  .promo::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .promo::before,
  .promo::after {
    display: block;
  }
}
.promo::before {
  background-image: url("../img/promo-cat-mobile.jpg");
  background-repeat: no-repeat;
  z-index: -2;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo::before {
    background-image: url("../img/promo-cat-mobile@2x.jpg");
    background-size: cover;
  }
}
.promo::after {
  background-color: #68b738;
  opacity: 0.85;
  z-index: -2;
}
@media (min-width: 768px) {
  .promo {
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .promo {
    position: static;
    background-color: transparent;
  }
  .promo::before,
  .promo::after {
    width: 50%;
    height: 694px;
    left: 50%;
  }
  .promo::before {
    background-image: url("../img/promo-cat-desktop.jpg");
    background-size: 720px auto;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo::before {
    background-image: url("../img/promo-cat-desktop@2x.jpg");
  }
}
.promo__title-wrapper {
  padding-top: 27px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .promo__title-wrapper {
    padding: 65px 200px 526px 90px;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .promo__title-wrapper {
    padding: 110px 720px 184px 80px;
  }
}
.promo__title,
.promo__slogan {
  margin: 0;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promo__title,
  .promo__slogan {
    text-align: start;
    color: #000000;
  }
}
.promo__title {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .promo__title {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }
}
.promo__slogan {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__slogan {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .promo__product-img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .promo__product-img {
    left: 447px;
    bottom: 52px;
  }
}
.promo__our-product {
  padding: 10px 0;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}
.promo__our-product:hover {
  background-color: #5eaa2f;
}
.promo__our-product:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .promo__our-product {
    padding: 14px 26px;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .promo__our-product {
    font-size: 20px;
    line-height: 26px;
  }
}
.promo__product-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .promo__product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media (min-width: 768px) {
  .promo__product-list {
    column-gap: 80px;
  }
}
.promo__product-item {
  padding: 21px 33px 18px 20px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .promo__product-item {
    padding: 77px 29px 57px 52px;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 19px;
  }
}
@media (min-width: 1440px) {
  .promo__product-item {
    padding: 41px 65px 59px 52px;
    column-gap: 80px;
  }
  .promo__product-item:nth-child(2n-1) {
    grid-column: 1 / 2;
  }
  .promo__product-item:nth-child(2n) {
    grid-column: 2 / -1;
  }
}
.promo__product-img-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .promo__product-img-wrapper {
    width: 200px;
    height: 200px;
    position: static;
    grid-column: 2 / -1;
    grid-row: 1 / 4;
    justify-self: center;
  }
}
@media (min-width: 1440px) {
  .promo__product-img-wrapper {
    margin-bottom: 39px;
    width: 100px;
    height: 100px;
    grid-column: 1 / 2;
    justify-self: start;
  }
}
.promo__product-slim-img,
.promo_product-pro-img {
  position: relative;
}
.promo__product-slim-img {
  top: -3px;
  left: 7px;
}
@media (min-width: 768px) {
  .promo__product-slim-img {
    top: -11px;
    left: 30px;
  }
}
@media (min-width: 1440px) {
  .promo__product-slim-img {
    top: -6px;
    left: 15px;
  }
}
.promo_product-pro-img {
  max-width: 268px;
  top: 11px;
  left: -9px;
}
@media (min-width: 768px) {
  .promo_product-pro-img {
    top: 44px;
    left: -34px;
  }
}
@media (min-width: 1440px) {
  .promo_product-pro-img {
    top: 20px;
    left: -19px;
  }
}
.promo__product-title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
@media (min-width: 768px) {
  .promo__product-title {
    grid-column: 1 / 2;
    padding: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    position: static;
  }
}
@media (min-width: 1440px) {
  .promo__product-title {
    margin: 0;
    margin-top: 30px;
    margin-left: 162px;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
  }
}
.promo__product-description {
  padding-bottom: 23px;
  margin: 0;
  margin-bottom: 15px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (max-width: 767px) {
  .promo__product-description {
    border-bottom: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .promo__product-description {
    grid-column: 1 / 2;
    padding: 0;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .promo__product-description {
    grid-column: 1 / -1;
    margin-bottom: 27px;
  }
}
.promo__catalog-link {
  display: flex;
  width: 139px;
  padding-right: 53px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
.promo__catalog-link::after {
  content: "";
  width: 24px;
  height: 12px;
  background-image: url("../img/catalog-link-arrow-s.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 8px;
}
.promo__catalog-link:hover::after {
  width: 32px;
  background-image: url("../img/catalog-link-arrow.svg");
  right: 0;
}
.promo__catalog-link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .promo__catalog-link {
    grid-column: 1 / 2;
    width: 165px;
    padding-right: 57px;
    font-size: 20px;
    color: #000000;
  }
}
.features {
  padding-top: 20px;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .features {
    padding-top: 45px;
    padding-bottom: 47px;
  }
}
@media (min-width: 1440px) {
  .features {
    padding-top: 71px;
    padding-bottom: 69px;
  }
}
.features__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .features__title {
    margin-bottom: 32px;
  }
}
.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
}
@media (min-width: 768px) {
  .features__list {
    padding-right: 75px;
    row-gap: 37px;
    column-gap: 133px;
  }
}
@media (min-width: 1440px) {
  .features__list {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 110px;
    row-gap: 20px;
  }
}
.features__item {
  grid-column: 1 / -1;
}
@media (min-width: 768px) {
  .features__item {
    max-width: 250px;
  }
  .features__item:nth-child(2n-1) {
    grid-column: 1 / 2;
  }
  .features__item:nth-child(2n) {
    grid-column: 2 / -1;
  }
}
@media (min-width: 1440px) {
  .features__item {
    grid-column: 1 / -1;
  }
  .features__item:nth-child(4n-3) {
    grid-column: 1 / 2;
  }
  .features__item:nth-child(4n-2) {
    grid-column: 2 / 3;
  }
  .features__item:nth-child(4n-1) {
    grid-column: 3 / 4;
  }
  .features__item:nth-child(4n) {
    grid-column: 4 / -1;
  }
}
.features__description {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 20px;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.features__description::before {
  content: "";
  display: block;
  padding: 30px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}
.features__description--leaf::before {
  background-image: url("../img/features-leaf.svg");
}
.features__description--water::before {
  background-image: url("../img/features-water.svg");
}
.features__description--eat::before {
  background-image: url("../img/features-eat.svg");
}
.features__description--clock::before {
  background-image: url("../img/features-clock.svg");
}
@media (min-width: 768px) {
  .features__description {
    padding-top: 40px;
    padding-bottom: 57px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    position: relative;
  }
  .features__description::before {
    padding: 40px;
    margin-bottom: 31px;
    width: 80px;
  }
  .features__description::after {
    content: "";
    height: 280px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  .features__description--leaf::after {
    width: 112px;
    background-image: url("../img/features-1.svg");
    right: 35px;
  }
  .features__description--water::after {
    width: 134px;
    background-image: url("../img/features-2.svg");
  }
  .features__description--eat::after {
    width: 134px;
    background-image: url("../img/features-3.svg");
  }
  .features__description--clock::after {
    width: 136px;
    background-image: url("../img/features-4.svg");
  }
}
@media (max-width: 767px) {
  .features__word-wrap {
    display: none;
  }
}
.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    padding-top: 45px;
    padding-bottom: 0;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example {
    padding-top: 0;
  }
}
.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .example__title {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin-bottom: 76px;
    grid-column: 1 / 2;
  }
}
@media (min-width: 1440px) {
  .example__content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 110px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) {
  .example__content {
    padding-bottom: 250px;
  }
}
@media (min-width: 1440px) {
  .example__content {
    padding-top: 70px;
    padding-bottom: 0;
    grid-column: 1 / 2;
  }
}
.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .example__description {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .example__description {
    margin-bottom: 69px;
  }
}
.example__progress-table {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}
@media (min-width: 1440px) {
  .example__progress-table {
    margin: 0;
    width: 440px;
  }
}
.example__progress-table-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
}
@media (min-width: 768px) {
  .example__progress-table-body {
    column-gap: unset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
.example__progress-table-row {
  position: relative;
}
@media (min-width: 768px) {
  .example__progress-table-row:not(:first-child) {
    margin-left: 43px;
  }
}
.example__progress-table-row:last-child {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 39px;
}
@media (min-width: 768px) {
  .example__progress-table-row:last-child {
    margin: 0;
    margin-left: auto;
  }
}
@media (min-width: 1440px) {
  .example__progress-table-row:last-child {
    margin: 0;
    margin-top: 55px;
  }
}
.example__progress-table-header {
  padding: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  min-width: 124px;
  font-size: 24px;
  font-weight: 400;
  outline: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .example__progress-table-header {
    min-width: 162px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 37px;
  }
}
.example__progress-table-data {
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .example__progress-table-data {
    min-width: 114px;
    font-size: 14px;
    line-height: 14px;
  }
}
.example__progress-table-data--weight,
.example__progress-table-data--time {
  background-color: #eaeaea;
  position: absolute;
  left: 20px;
}
@media (max-width: 767px) {
  .example__progress-table-data--weight,
  .example__progress-table-data--time {
    width: 87px;
    bottom: -10px;
    letter-spacing: 0.4px;
  }
}
@media (min-width: 768px) {
  .example__progress-table-data--weight,
  .example__progress-table-data--time {
    bottom: -4px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example__progress-table-data--weight,
  .example__progress-table-data--time {
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) {
  .example__progress-table-data--weight {
    width: 114px;
    left: 24px;
  }
}
@media (min-width: 768px) {
  .example__progress-table-data--time {
    width: 142px;
    left: 12px;
  }
}
.example__progress-table-footer {
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__progress-table-footer {
    max-width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .example__progress-table-footer {
    display: flex;
    min-width: 330px;
  }
}
@media (min-width: 1440px) {
  .example__progress-table-cost {
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .example__slider {
    padding: 231px 104px;
    background-color: #eaeaea;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .example__slider {
    background-color: transparent;
  }
}
.example__slider-inner {
  height: 256px;
  position: relative;
}
.example__slider-inner::before,
.example__slider-inner::after {
  content: "";
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .example__slider-inner {
    width: 560px;
    height: 512px;
    position: absolute;
    bottom: 101px;
  }
}
@media (min-width: 1440px) {
  .example__slider-inner {
    padding: 0;
    background-color: transparent;
  }
}
.example__slider-inner::before {
  width: 50%;
  background-image: url("../img/example-fat-cat@1x.png");
  background-position: left;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .example__slider-inner::before {
    background-image: url("../img/example-fat-cat@2x.png");
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .example__slider-inner::before {
    background-image: url("../img/example-fat-cat-2@1x.png");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .example__slider-inner::before {
    background-image: url("../img/example-fat-cat-2@2x.png");
    background-size: cover;
  }
}
.example__slider-inner::after {
  width: 50%;
  background-image: url("../img/example-slim-cat@1x.png");
  right: 0;
  background-position: right;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .example__slider-inner::after {
    background-image: url("../img/example-slim-cat@2x.png");
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .example__slider-inner::after {
    background-image: url("../img/example-slim-cat-2@1x.png");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .example__slider-inner::after {
    background-image: url("../img/example-slim-cat-2@2x.png");
    background-size: cover;
  }
}
.example__slider-curtain {
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background-color: #666666;
  position: relative;
  left: 50%;
  z-index: 3;
}
.example__slider-curtain:hover {
  background-color: #68b738;
}
.example__slider-curtain:hover .example__slider-toggle {
  outline-color: #68b738;
}
.example__slider-curtain:hover .example__slider-toggle-img path {
  fill: #68b738;
}
.example__slider-curtain:active {
  background-color: rgba(94, 170, 47, 0.6);
}
.example__slider-curtain:active .example__slider-toggle {
  outline-color: rgba(94, 170, 47, 0.6);
}
.example__slider-curtain:active .example__slider-toggle-img path {
  fill: rgba(94, 170, 47, 0.6);
}
.example__slider-toggle {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  outline: 2px solid #666666;
  position: absolute;
  top: 42%;
  left: -18px;
}
.example__slider-toggle-img {
  position: absolute;
  top: 11px;
  left: 8px;
}
@media (min-width: 1440px) {
  .find-us {
    position: relative;
  }
}
.find-us__address-wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.find-us__address-wrapper--background {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .find-us__address-wrapper {
    padding: 60px 70px;
  }
}
@media (min-width: 1440px) {
  .find-us__address-wrapper {
    padding: 60px 80px;
    position: absolute;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
  }
}
.find-us__address-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .find-us__address-title {
    max-width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}
.find-us__address {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}
@media (min-width: 768px) {
  .find-us__address {
    max-width: 157px;
    margin-left: auto;
    font-size: 16px;
    line-height: 20px;
  }
}
.find-us__map-img {
  width: 100%;
  display: none;
}
.find-us__map-wrapper {
  display: flex;
}
.find-us__location {
  width: 100%;
  display: block;
  border: none;
}
@media (min-width: 768px) {
  .find-us__location {
    min-height: 400px;
  }
}
.main-footer {
  background-color: #f2f2f2;
}
.main-footer__container-inner {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer__container-inner {
    padding-top: 62px;
    padding-bottom: 61px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-footer__container-inner {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
.main-footer__company-link {
  margin-bottom: 20px;
}
.main-footer__company-link:hover .main-footer__company-img path,
.main-footer__company-link:focus .main-footer__company-img path {
  fill: #3e3e3e;
}
.main-footer__company-link:active .main-footer__company-img path {
  fill: #6b6b6b;
}
@media (min-width: 768px) {
  .main-footer__company-link {
    margin: 0;
  }
}
.main-footer__socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 20px 74px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .main-footer__socials-list {
    padding: 0;
    margin: 0;
    max-width: 132px;
    border: none;
  }
}
.main-footer__socials-item {
  height: 22px;
}
.main-footer__socials-link {
  display: flex;
  height: 100%;
  align-items: center;
}
.main-footer__socials-link:hover .main-footer__socials-img path,
.main-footer__socials-link:focus .main-footer__socials-img path,
.main-footer__socials-link:active .main-footer__socials-img path {
  fill: #68b738;
}
.main-footer__socials-link:active {
  opacity: 0.3;
}
.main-footer__copyright {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main-footer__copyright:hover .main-footer__copyright-logo path,
.main-footer__copyright:focus .main-footer__copyright-logo path,
.main-footer__copyright:active .main-footer__copyright-logo path {
  fill: #68b738;
}
.main-footer__copyright:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-footer__copyright {
    margin: 0;
    max-width: 168px;
  }
}
.main-footer__copyright-text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}
.title-page {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.order-btn {
  padding: 10px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #68b738;
  cursor: pointer;
}
.catalog {
  padding-top: 27px;
  position: relative;
}
@media (max-width: 767px) {
  .catalog::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (min-width: 768px) {
  .catalog {
    padding-top: 65px;
    padding-bottom: 70px;
  }
}
@media (min-width: 768px) {
  .catalog {
    padding-top: 74px;
    padding-bottom: 76px;
  }
}
.catalog__title {
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .catalog__title {
    margin-bottom: 84px;
    font-size: 60px;
    line-height: 60px;
  }
}
.catalog__product-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog__product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 141px;
  }
}
@media (min-width: 1440px) {
  .catalog__product-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}
.catalog__product-item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 767px) {
  .catalog__product-item {
    padding-top: 20px;
    padding-bottom: 25px;
    justify-content: space-between;
    align-items: center;
  }
  .catalog__product-item::before {
    content: "";
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    position: absolute;
    left: -20px;
    top: 0;
  }
}
@media (min-width: 768px) {
  .catalog__product-item {
    padding: 161px 37px 40px 37px;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    position: relative;
  }
}
.catalog__product-item--show-more {
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog__product-item--show-more {
    padding-top: 0;
    background-color: #ffffff;
    outline: 2px solid #f2f2f2;
  }
  .catalog__product-item--show-more.catalog__product-title {
    margin-bottom: 23px;
  }
}
.catalog__product-title {
  width: 54%;
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}
.catalog__product-title--show-more {
  width: 100%;
  margin: 0;
  color: #111111;
}
@media (min-width: 768px) {
  .catalog__product-title {
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .catalog__product-title--show-more {
    padding: 0 55px;
    margin-bottom: 23px;
  }
}
@media (min-width: 1440px) {
  .catalog__product-title--show-more {
    padding: 0 18px;
  }
}
.catalog__product-img-link {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog__product-img-link {
    padding: 10px 20px 24px;
    position: absolute;
    top: -52px;
  }
}
.catalog__product-img {
  width: 100%;
}
.catalog__product-table {
  width: 50%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .catalog__product-table {
    width: 100%;
    margin-bottom: 32px;
  }
}
.catalog__product-table-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .catalog__product-table-row {
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.catalog__product-table-data {
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog__product-table-data {
    font-size: 16px;
    line-height: 20px;
  }
}
.catalog__product-btn {
  width: 100%;
}
.catalog__product-btn:hover,
.catalog__product-btn:active {
  background-color: #5eaa2f;
}
.catalog__product-btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.catalog__product-btn--show-all {
  color: #444444;
  background-color: #f2f2f2;
}
.catalog__product-btn--show-all:hover,
.catalog__product-btn--show-all:active {
  background-color: #ebebeb;
}
.catalog__product-btn--show-all:active {
  color: #444444;
}
.catalog__product-title-link {
  display: flex;
}
.catalog__product-title-link--show-more {
  margin: 0;
  position: relative;
}
.catalog__product-title-link--show-more::before,
.catalog__product-title-link--show-more::after {
  content: "";
  height: 2px;
  background-color: #d3d3d3;
  position: absolute;
}
.catalog__product-title-link--show-more::after {
  transform: rotate(90deg);
}
@media (max-width: 767px) {
  .catalog__product-title-link--show-more {
    padding: 78px 38px 8px;
  }
  .catalog__product-title-link::before,
  .catalog__product-title-link::after {
    width: 30px;
    top: 25px;
    left: 125px;
  }
}
@media (min-width: 768px) {
  .catalog__product-title-link {
    justify-content: center;
  }
  .catalog__product-title-link--show-more {
    padding-top: 161px;
  }
  .catalog__product-title-link::before,
  .catalog__product-title-link::after {
    width: 60px;
    top: 50px;
    left: 95px;
  }
}
@media (min-width: 1440px) {
  .catalog__product-title-link--show-more {
    padding-top: 151px;
  }
  .catalog__product-title-link::before,
  .catalog__product-title-link::after {
    left: 55px;
  }
}
.catalog__product-description {
  margin: 0;
  margin-bottom: 21px;
  padding: 0 30px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog__product-description {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .catalog__product-description {
    padding: 0;
    margin-bottom: 90px;
  }
}
.add-product {
  padding-top: 21px;
  padding-bottom: 35px;
  position: relative;
}
.add-product::before {
  content: "";
  height: 2px;
  background-color: #68b738;
  position: absolute;
}
@media (max-width: 767px) {
  .add-product::before {
    width: 54px;
    top: 35px;
    right: 0;
  }
}
@media (min-width: 768px) {
  .add-product::before {
    width: 100%;
    top: 45px;
    left: 0;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .add-product {
    display: grid;
    grid-template-columns: 1fr 20%;
    column-gap: 80px;
  }
}
.add-product__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .add-product__title {
    padding: 0 40px;
    margin-bottom: 80px;
    width: 419px;
    font-size: 36px;
    line-height: 36px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .add-product__title {
    margin-left: -40px;
    grid-column: 1 / -1;
  }
}
.add-product__product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .add-product__product-list {
    margin-bottom: 70px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .add-product__product-list {
    margin: 0;
    border: none;
  }
}
.add-product__product-item {
  padding-top: 13px;
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cdcdcd;
}
.add-product__product-item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .add-product__product-item {
    padding: 26px 38px 28px;
  }
}
@media (min-width: 1440px) {
  .add-product__product-item {
    padding: 15px 0 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.add-product__product-table {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .add-product__product-table {
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .add-product__product-table {
    margin: 0;
    width: 100%;
  }
}
.add-product__product-caption {
  align-self: start;
}
.add-product__product-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .add-product__product-title {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}
.add-product__product-table-row {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .add-product__product-table-row {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .add-product__product-table-row--sugar {
    min-width: 223px;
  }
}
@media (min-width: 768px) {
  .add-product__product-table-row--water {
    min-width: 160px;
  }
}
@media (min-width: 768px) {
  .add-product__product-table-row--milk {
    min-width: 141px;
  }
}
@media (min-width: 768px) {
  .add-product__product-table-row--vitamins {
    min-width: 216px;
  }
}
.add-product__product-table-data,
.add-product__product-table-cost {
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
@media (min-width: 768px) {
  .add-product__product-table-data,
  .add-product__product-table-cost {
    font-size: 16px;
    line-height: 20px;
  }
}
.add-product__product-btn:hover,
.add-product__product-btn:active {
  background-color: #5eaa2f;
}
.add-product__product-btn:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 1440px) {
  .add-product__product-btn {
    padding-left: 91px;
    padding-right: 91px;
    margin-left: 40px;
  }
}
.add-product__present {
  padding: 41px 61px 43px 58px;
  position: relative;
}
.add-product__present::before,
.add-product__present::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.add-product__present::before {
  background-image: url("../img/add-product-cat-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.add-product__present::after {
  background-color: #68b738;
  opacity: 0.85;
  z-index: -1;
}
@media (min-width: 768px) {
  .add-product__present {
    padding: 57px 125px 60px 78px;
  }
  .add-product__present::before {
    background-image: url("../img/add-product-cat-back-2.png");
  }
}
@media (min-width: 1440px) {
  .add-product__present {
    padding: 56px 41px 43px 42px;
  }
  .add-product__present::before {
    background-image: url("../img/add-product-cat-back-3.png");
  }
}
.add-product__present-description {
  margin: 0;
  padding-top: 126px;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  position: relative;
}
.add-product__present-description::before {
  content: url("../img/icon-gift.svg");
  width: 78px;
  height: 80px;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .add-product__present-description {
    padding: 0;
    padding-left: 344px;
    text-align: left;
  }
  .add-product__present-description::before {
    content: url("../img/icon-gift.svg");
    width: 80px;
    height: 82px;
    left: 0;
  }
}
@media (min-width: 1440px) {
  .add-product__present-description {
    padding: 0;
    padding-top: 129px;
    text-align: center;
  }
  .add-product__present-description::before {
    content: url("../img/icon-gift.svg");
    width: 78px;
    height: 80px;
    left: unset;
  }
}
.program {
  padding-top: 27px;
}
@media (max-width: 767px) {
  .program {
    position: relative;
  }
  .program::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (min-width: 768px) {
  .program {
    padding-top: 65px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .program {
    padding-top: 74px;
  }
}
.program__title {
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .program__title {
    padding-left: 40px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .program__title {
    padding: 0;
  }
}
.program__description {
  margin: 0;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .program__description {
    padding-left: 40px;
    max-width: 363px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .program__description {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .program__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}
.program__form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.program__main-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .program__main-list {
    padding: 0 40px 72px 40px;
  }
}
@media (min-width: 1440px) {
  .program__main-list {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .program__form-fieldset--main {
    grid-column: 1 / 2;
  }
}
.program__form-fieldset--program {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .program__form-fieldset--program {
    padding: 0 40px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .program__form-fieldset--program {
    grid-column: 2 / -1;
  }
}
@media (max-width: 767px) {
  .program__form-fieldset--main,
  .program__form-fieldset--program {
    position: relative;
  }
  .program__form-fieldset--main::after,
  .program__form-fieldset--program::after {
    content: "";
    width: 114%;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    bottom: 0;
    left: -20px;
  }
}
.program__form-fieldset--contact .program__form-legend,
.program__form-fieldset--comment .program__form-legend,
.program__form-fieldset--add-something .program__form-legend {
  display: flex;
  width: 100%;
  position: relative;
}
.program__form-fieldset--contact .program__form-legend::after,
.program__form-fieldset--comment .program__form-legend::after,
.program__form-fieldset--add-something .program__form-legend::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  top: 18px;
  right: -20px;
  z-index: -1;
}
@media (min-width: 768px) {
  .program__form-fieldset--contact .program__form-legend::after,
  .program__form-fieldset--comment .program__form-legend::after,
  .program__form-fieldset--add-something .program__form-legend::after {
    width: 108.5%;
    right: -30px;
  }
}
@media (min-width: 1440px) {
  .program__form-fieldset--contact .program__form-legend::after,
  .program__form-fieldset--comment .program__form-legend::after,
  .program__form-fieldset--add-something .program__form-legend::after {
    width: 118%;
    right: -110px;
  }
}
.program__form-fieldset--contact .program__form-legend .program__form-legend-title,
.program__form-fieldset--comment .program__form-legend .program__form-legend-title,
.program__form-fieldset--add-something .program__form-legend .program__form-legend-title {
  margin: 0;
  padding-right: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .program__form-fieldset--contact .program__form-legend .program__form-legend-title,
  .program__form-fieldset--comment .program__form-legend .program__form-legend-title,
  .program__form-fieldset--add-something .program__form-legend .program__form-legend-title {
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .program__form-fieldset--contact,
  .program__form-fieldset--comment,
  .program__form-fieldset--add-something {
    grid-column: 1 / -1;
  }
}
@media (max-width: 767px) {
  .program__form-fieldset--contact .program__form-legend-title {
    width: 203px;
  }
}
.program__form-fieldset--comment .program__form-legend::after {
  top: 17px;
}
@media (min-width: 1440px) {
  .program__form-fieldset--comment {
    grid-column: 1 / -1;
  }
}
.program__form-fieldset--add-something .program__form-legend::after {
  top: 17px;
}
@media (min-width: 1440px) {
  .program__form-fieldset--add-something {
    grid-column: 1 / -1;
  }
}
.program__main-item {
  margin-bottom: 14px;
  display: flex;
  width: 100%;
  align-items: center;
}
.program__main-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .program__main-item {
    margin-bottom: 20px;
  }
}
.program__form-label {
  margin-right: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .program__form-label {
    font-size: 20px;
    white-space: pre;
  }
}
.program__form-input {
  padding: 14px 0 14px 15px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  border: none;
  outline: 1px solid #e7e7e7;
}
.program__form-input::-webkit-outer-spin-button,
.program__form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
.program__form-input::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .program__form-input::placeholder {
    font-size: 20px;
  }
}
.program__form-input:hover {
  outline-color: #cdcdcd;
}
.program__form-input:focus-visible {
  outline: 2px solid #444444;
}
.program__form-input:invalid:not(:placeholder-shown) {
  outline-color: #ff8282;
}
@media (min-width: 768px) {
  .program__form-input {
    padding: 11px 0 11px 20px;
    font-size: 20px;
  }
}
.program__program-list,
.program__contact-list,
.program__add-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.program__program-list {
  padding-top: 22px;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .program__program-list {
    padding: 23px 27px 27px;
    outline: 1px solid #e7e7e7;
  }
}
@media (min-width: 1440px) {
  .program__program-list {
    padding: 30px 0 25px 28px;
  }
}
.program__program-item {
  display: flex;
  margin-bottom: 13px;
}
.program__program-item .program__form-label {
  padding: 6px 0;
  padding-left: 45px;
  margin: 0;
  position: relative;
}
.program__program-item .program__form-label::before {
  content: "";
  padding: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  outline: 1px solid #cdcdcd;
  position: absolute;
  left: 0;
  top: 0;
}
.program__form-radio:checked + .program__form-label::after {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;
  position: absolute;
  top: 8.5px;
  left: 8.5px;
}
.program__form-radio:focus + .program__form-label {
  outline: 2px solid #444444;
}
.program__form-radio:hover + .program__form-label::before {
  outline-color: #bababa;
}
.program__form-radio:disabled + .program__form-label,
.program__form-radio:disabled + .program__form-label::before,
.program__form-radio:disabled + .program__form-label::after {
  opacity: 0.3;
}
.program__contact-list {
  padding-top: 35px;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .program__contact-list {
    padding: 76px 40px 65px 40px;
  }
}
@media (min-width: 1440px) {
  .program__contact-list {
    padding: 0;
    padding-top: 76px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}
.program__contact-item {
  margin-bottom: 14px;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}
.program__contact-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .program__contact-item {
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .program__contact-item {
    margin: 0;
  }
}
.program__form-label--email::after,
.program__form-label--phone::after {
  content: "";
  background-position: center;
  position: absolute;
}
.program__form-label--email::after {
  width: 17px;
  height: 13px;
  background-image: url("../img/form-mail.svg");
  right: 13.5px;
}
.program__form-label--phone::after {
  width: 15px;
  height: 15px;
  background-image: url("../img/form-phone.svg");
  right: 14.5px;
}
.program__form-input--email,
.program__form-input--phone {
  padding-right: 33px;
  border-color: #cdcdcd;
}
.program__form-legend {
  padding: 0;
}
.program__form-textarea-container {
  padding: 38px 0 23px;
}
@media (min-width: 768px) {
  .program__form-textarea-container {
    padding: 87px 70px 65px;
  }
}
@media (min-width: 1440px) {
  .program__form-textarea-container {
    padding: 0;
    padding-top: 78px;
    padding-bottom: 70px;
  }
}
.program__form-textarea {
  margin-bottom: 23px;
  padding: 14px 14px 14px 15px;
  width: 100%;
  resize: none;
  border: none;
  outline: 1px solid #e7e7e7;
}
.program__form-textarea:hover {
  outline-color: #cdcdcd;
}
.program__form-textarea:focus-visible {
  outline: 2px solid #444444;
}
@media (min-width: 768px) {
  .program__form-textarea {
    padding: 11px 20px;
  }
}
@media (min-width: 1440px) {
  .program__form-textarea {
    padding: 9px 20px;
  }
}
.program__form-textarea::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .program__form-textarea::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
.program__add-list {
  padding-top: 34px;
  padding-bottom: 34px;
}
@media (min-width: 768px) {
  .program__add-list {
    padding: 50px 40px 52px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 32px;
  }
}
@media (min-width: 1440px) {
  .program__add-list {
    padding: 0;
    padding-top: 57px;
    padding-bottom: 60px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}
.program__add-item {
  display: flex;
  margin-bottom: 13px;
}
.program__add-item .program__form-label {
  margin: 0;
  padding: 6px 0;
  padding-left: 45px;
  position: relative;
}
.program__add-item .program__form-label::before {
  content: "";
  width: 30px;
  height: 30px;
  outline: 1px solid #cdcdcd;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}
.program__form-checkbox:checked + .program__form-label::after {
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../img/form-tick.svg");
  background-position: center;
  position: absolute;
  left: 6.25px;
  top: 8px;
}
.program__form-checkbox:focus + .program__form-label {
  outline: 2px solid #444444;
}
.program__form-checkbox:hover + .program__form-label::before {
  outline-color: #bababa;
}
.program__form-checkbox:disabled + .program__form-label,
.program__form-checkbox:disabled + .program__form-label::before,
.program__form-checkbox:disabled + .program__form-label::after {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .program__form-btn-container {
    padding-left: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .program__form-btn-container {
    grid-column: 1 / -1;
  }
}
.program__form-btn {
  margin-bottom: 21px;
  width: 100%;
}
.program__form-btn:hover,
.program__form-btn:active {
  background-color: #5eaa2f;
}
.program__form-btn:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .program__form-btn {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
  }
}
.program__required-field {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .program__required-field {
    margin: 0;
    font-size: 16px;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */
